extends layout

block content
  h1= title
  p Welcome to my fan-made #{title}.
  p This page is currently a work in progress. To get character data make  request to:
  a(href="https://myheroacademia-api.herokuapp.com/characters", target="_blank", rel="noopener noreferrer") GET https://myheroacademia-api.herokuapp.com/characters
  p Or to see the source code in its current state head over to GitHub: 
  a(href="https://github.com/pattisoj/my-hero-academia-api", target="_blank", rel="noopener noreferrer") Project Repository
